.header {
  background-color: #777777;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;

  .pic-and-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    height: 100%;
    background-color: #555555;
  }

  .pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #aaaaaa;
  }

  .pic, .name {
    margin-left: 5px;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 250px;
    flex: 1;
    font-weight: bold;
    font-size: 30px;
    &.no-profile {
      padding-right: 0px;
    }
  }
}
