@import "./variables.styl";
@import "./pages/index.styl";
@import "./components/index.styl";

#react-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
}

.hidden {
  display: none !important;
}
